body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff5f8;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #fff5f8;
}



.canvas-wrapper {
  width: 50%;
  height: 100vh;
  background-color: #0d0e21;
}

.text-panel {
  width: 90%;
  max-width: 700px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
}


.text-panel h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #222;
}

.text-panel h2 {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.text-panel p,
.text-panel ul {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}

.text-panel ul {
  list-style: none;
  padding: 0;
}

.text-panel li {
  margin-bottom: 0.5rem;
}

.cv-download {
  margin-top: 20px;
  display: inline-block;
  background: #fce4ec;
  padding: 10px 18px;
  border-radius: 12px;
  color: #aa6da3;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: background 0.3s, color 0.3s;
}

.cv-download:hover {
  background: #f8bbd0;
  color: #fff;
}
.cube-placeholder {
  width: 100%;
  max-width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}


.cube {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotateCube 20s infinite linear;
}

@media (max-width: 900px) {
  .cube {
    width: 200px;
    height: 200px;
  }
}
